.Table{
max-width: 280px;
margin:auto;
display: flex;
justify-content: center;
align-items: center;
padding-top: 10px;
text-align: center;
box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border: solid 1px rgb(224, 224, 224);
}

.Table th{
       background-color: aqua
}

.Table tr:nth-child(2n){
    background-color: rgb(210, 204, 228)
}
.Table tr:nth-child(2n-1){
    background-color: rgb(204, 203, 209)
}